{% extends "layout.twig" %}

{% block content %}

 <header>
    <div class="wrapper clearfix">
       {{widget('companyheader', 'companyheader', {"defaultlogo": asset('images/logo.png')})|raw}}
       {{widget('extendednavigation', 'navigationheader', {})|raw}}
    </div>
</header>

<section>
    {{widget('feature', 'featurehome', {"header": "Metus cu ipsum. Ero ultrices. Placerat.", "strapline":"Olamate inlore ta neca qu on: 020 12 345 678", "buttonText":"LORE IPSUM", "bgImg": asset('images/feature-bg.jpg')})|raw}}
</section>

<section class="intro">
    <div class="wrapper clearfix">  
        <div class="widget responsivecolumns columns-two-50-50">
            <div class="column columns-two-left">
                {{widget('content', 'introcolumn1', {"content":"<h4 style="font-weight: bold">TRI ARCUQUAM</h4><h2>Lorem. Ipsum. Dolor. Sit amet consectetur.</h2><p>Vivamus molestie condimentum arcu, ultricies aliquam qu tincidunt nec. Quisque varius ligula. Duis suscipit magna etal eros malesuada sit amet pharetra arcu fermentum ipsum.</p>"})|raw}}
            </div>
            <div class="column columns-two-right">
               {{widget('content', 'introcolumn1', {"content":"<h4 style="font-weight: bold">AL AME NEXA</h4><h2>uspen. Disse. Porta. Augue vitae metua.</h2><p>Vivamus molestie condimentum arcu, ultricies aliquam qu tincidunt nec. Quisque varius ligula. Duis suscipit magna etal eros malesuada sit amet pharetra arcu fermentum ipsum.</p>"})|raw}}
            </div>
        </div>
    </div>
</section>

<div class="main">
    {{zone('main')|raw}}
</div>

<footer>
    <div class="wrapper clearfix">
        <div class="widget responsivecolumns columns-three-33-34-33 columns-four-25-25-25-25">
           <div class="column columns-four-first">
           		{{widget('content', 'footercolumn1', {"content":"<h4>LOREM IPSUM</h4><p>Nulla scelerisque</p><p>Metus Vitae</p><p>Tincidunt Egest</p><p>Enim Antel</p>"})|raw}}
           </div>
           <div class="column columns-four-second">
           		{{widget('content', 'footercolumn1', {"content":"<h4>ALAM DOLOR</h4><p>Nugue Metuatar</p><p>Varius Duis</p><p>Magna Etaloer</p><p>Quisque Arcu</p>"})|raw}}
           </div>
           <div class="column columns-four-third">
           		{{widget('content', 'footercolumn1', {"content":"<h4>RUTRUM LIBERO</h4><p>Condimentum Alam</p><p>Tincidunt Nec</p><p>Molestie Amet</p><p>Malesuada Fermen</p>"})|raw}}
           </div>
           <div class="column columns-four-fourth">
           		{{widget('content', 'footercolumn1', {"content":"<h4>LIGULA DUIS</h4><p>Ultrices Ipsum</p><p>Uvitae Nullavari</p><p>Dolor Vivamustar</p><p>Phareta Eros</p>"})|raw}}
           </div>
        </div>
        <section class="footer2">
            {{widget('content', 'footer2column1', {"content":"<p>Uvitae sagittis © 2013. Placerat ac Nulla.</p>"})|raw}}
        </section>
    </div>
</footer>

{% endblock %}
